body{
    @include fontstyle;
}
.header{
    height: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    .header_wrapper{
        max-width: 900px;
        padding-left: 25px;
        padding-right: 25px;
        margin: 0 auto;
        @include clearfix;
    }
    .header_logo{
        float: left;
        height: 50px;
        width: 40px;
        background-image: url("../Images/logo.svg");
        background-repeat: no-repeat;
        background-position: center center;
        
    }
    .header_nav{
        display: block;
        float: right;
    }
    ul{
        line-height: 40px;
        list-style: none;
        li{
            display: inline-block;
            padding: 5px;
            
        }
    }
    .header_menu_link{
        display: block;
        text-decoration: none;
        font-size: 18px;
        font-family: "Nitti Grotesk",Helvetica,Arial,sans-serif;
    }
    .header_menu_link:hover{
        color: #00baff;
        cursor:pointer;
    }
}



